<!DOCTYPE html>
<html>
  <head>
    <title>profile-page</title>
    
  </head>
  <body>
    <h1>Profile page</h1>
    <div class = "btn-group">
    <a class="btn btn-outline-primary mr-1" href="/profile/edit">edit profile</a>
    <form action="/profile/delete?_method=DELETE" method="POST"><button class="btn btn-outline-primary mr-1">delete profile</button></form>
    <a class="btn btn-outline-primary mr-1" href="/main/addEvent">add event</a>  
    
  </div>
  

    <% if (currentUser) { %>
        <div>firstname: <%= currentUser.firstName %></div>
        <div>lastname: <%= currentUser.lastName%> </div>
        <div>email: <%= currentUser.emailAddress%> </div>
        <div class="card">
          <div class="card-header">
            <div>events you are going to: 
          </div>
          <div class="card-body"><p class="card-text">
          <% currentUser.events.forEach(function(eachEvent){ %>
            <div>Name: <%= eachEvent.name %> <a href="/main/deatails/<%=eachEvent.id%>">deatails</a></div>
          <% }) %></p></div></div>
    <% } %></div>
    
    <div class="card">
      <div class="card-header">
    <div>events you created:</div>
    <div class="card-body">
    <% eventsCreated.forEach(function(eachEvent){ %>
      <div>Name: <%= eachEvent.name %> <a class="btn btn-link" href="/main/edit/<%=eachEvent.id%>">edit</a> <form action="/main/delete/<%=eachEvent.id%>"><button class="btn btn-link" type="submit">delete</button></div>
    <% }) %></div></div></div>
  
    

    </body>
</html>